<h2 class="center add_top_padding">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field col add_bottom_padding">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-sm' %>
  </div>

  <div class="field col">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control form-control-sm' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field col add_bottom_padding", style="margin-top: 0px" >
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class:"form-check-label" %>
    </div>
  <% end %>

  <div class="actions col add_bottom_padding">
    <%= f.submit "Log in", class: 'btn btn-primary' %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>