<%= turbo_frame_tag "appearance_channel" %>
<div id="appearance_channel"></div>

<div id="chatroom_container" class="row bg-dark text-light" style="background: #1a1a1a">
  <div id="side_panel" class="col-md-4 col-sm-4">
        <%= render current_user %>

        <h3 style="margin: 5px; color: white"> Users </h3>
        <div>
            <%= turbo_stream_from "users" %>
            <div id="users">
                <%= render @users %>
            </div>
        </div>

        <h3 style="margin: 5px; color: white"> Rooms </h3>
        <div>
            <%= turbo_stream_from "rooms" %>
            <div id="rooms">
                <%= render @rooms %>
            </div>
            <%= render "layouts/new_room_form" %> 
        </div>
    </div>

    <% if @single_room %>
        <div class="col-md-8 col-sm-8 bg-dark text-light" id="room_container">
                <h3 class="text-center", style="color: white; margin-top: 5px;"> <%= @user&.name || @single_room.name %> </h3>    
                
                <div id="single_room">                
                    <%= turbo_stream_from @single_room %>
                    <div id="messages" data-controller="scroll">
                        <% turbo_frame_tag "page_handler" %>
                        <%= render "messages/pager", pagy: @pagy.next %>                    <%# a button to trigger "load more mess action" => update @messages %>
                        <div id="messages-container"><%= render @messages %></div>          <%# prepend messages for next page to the top of the div %>
                        <%= render "messages/pager", pagy: @pagy.prev %>                    <%# a button to trigger "load more mess action" => update @messages %>
                    </div>
                </div>

                <%= render "layouts/new_message_form" %>         
        </div>
    <% else %>
        <div class="center col-md-8 col-sm-8 bg-dark text-dark" id="room_container">
            <% @curr_user = current_user %>
            <%= render "users/profile" %>
        </div>
    <% end %>
</div>